# Ignore the dist folder
dist

#Ignore the build folder
build

test_files

#Ignore the pychache files
*.pyc
*.pyo
__pycache__\*.cpython-39.pyc
UI\__pycache__\*.cpython-39.pyc
Data\__pycache__\*.cpython-39.pyc
