# Ignore the dist folder
dist

#Ignore the build folder
build

test_files

#Ignore the pychache files
*.pyc
*.pyo
__pycache__\*.cpython-39.pyc
UI\__pycache__\*.cpython-39.pyc
Data\__pycache__\*.cpython-39.pyc


#Ignore .log files
*.log

#Ignore generated log files
*.txt


#Ignore demo projects
DemoProj

# IDE specfic
.vscode

# Linux specific
temp.ico

# Mac specific
.DS_Store

