<?xml version="1.0" ?>
<peakmlviewer>
	<settings>
		<smooth>true</smooth>
		<decdp>1</decdp>
		<defplot>Peak</defplot>
		<databases>
			<database>MoleculeDatabases/01_StdMix.xml</database>
			<database>MoleculeDatabases/02_StdMix.xml</database>
			<database>MoleculeDatabases/03_StdMix.xml</database>
			<database>MoleculeDatabases/04_ESI-contaminants.xml</database>
			<database>MoleculeDatabases/05_LDonovani.xml</database>
			<database>MoleculeDatabases/ecocyc.xml</database>
			<database>MoleculeDatabases/hmdb.xml</database>
			<database>MoleculeDatabases/kegg.xml</database>
			<database>MoleculeDatabases/MetaCyc.xml</database>
			<database>MoleculeDatabases/Mycoplasma_hyopneumoniae.xml</database>
			<database>MoleculeDatabases/peptides.xml</database>
			<database>MoleculeDatabases/scocyc.xml</database>
			<database>MoleculeDatabases/standard.xml</database>
			<database>MoleculeDatabases/Streptomyces_clavuligerus_db.xml</database>
			<database>MoleculeDatabases/trypanocyc.xml</database>
			<database>MoleculeDatabases/009_kegg.xml</database>
		</databases>
	</settings>
</peakmlviewer>
