<?xml version="1.0" ?>
<peakmlviewer>
	<settings>
		<smooth>true</smooth>
		<decdp>3</decdp>
		<defplot>Peak</defplot>
		<databases>
			<database>01_StdMix.xml</database>
			<database>02_StdMix.xml</database>
			<database>03_StdMix.xml</database>
			<database>04_ESI-contaminants.xml</database>
			<database>05_LDonovani.xml</database>
			<database>ecocyc.xml</database>
			<database>hmdb.xml</database>
			<database>kegg.xml</database>
			<database>MetaCyc.xml</database>
			<database>Mycoplasma_hyopneumoniae.xml</database>
			<database>peptides.xml</database>
			<database>scocyc.xml</database>
			<database>standard.xml</database>
			<database>Streptomyces_clavuligerus_db.xml</database>
			<database>trypanocyc.xml</database>
			<database>009_kegg.xml</database>
		</databases>
		<fragDatabasesType1>
			<fragDatabase>IPA_MS1.csv</fragDatabase>
		</fragDatabasesType1>
		<fragDatabasesType2>
			<fragDatabase>IPA_MS2_full_0.csv</fragDatabase>
			<fragDatabase>IPA_MS2_full_1.csv</fragDatabase>
			<fragDatabase>IPA_MS2_full_2.csv</fragDatabase>
			<fragDatabase>IPA_MS2_full_3.csv</fragDatabase>
			<fragDatabase>IPA_MS2_full_4.csv</fragDatabase>
		</fragDatabasesType2>
	</settings>
</peakmlviewer>
